body{
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

img{
    /* Para centrar una imagen es display */
    display: block;
    margin: auto;
    border: double 3px;
}

p{
    width: 50%;
    margin: auto;
    font-weight: bold;
}